.login_form {
	padding: 20px;
}
.exit_button{
	margin-top: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 300px 100px;
  justify-content: center;
}

.grid-item1 {
	background-color: #BCFFB5;
}

.grid-item2 {
	background-color: #FFD769;
}

.grid-item {
	padding: 10px;
}